{
  "providers": {
    "mimo": {
      "base_url": "https://token-plan-cn.xiaomimimo.com/v1",
      "models": [
        "mimo-v2.5-pro",
        "mimo-v2.5"
      ],
      "api_key": "your-mimo-token-plan-api-key"
    },
    "deepseek": {
      "base_url": "https://api.deepseek.com/v1",
      "models": [
        "deepseek-v4-pro",
        "deepseek-v4-flash"
      ],
      "api_key": "your-deepseek-api-key"
    },
    "qwen": {
      "base_url": "https://coding.dashscope.aliyuncs.com/v1",
      "models": [
        "qwen3.6-plus",
        "glm-5",
        "kimi-k2.5",
        "MiniMax-M2.5"
      ],
      "api_key": "your-qwen-api-key"
    }
  },
  "global": {
    "host": "127.0.0.1",
    "port": 8000
  }
}
